.App {
  text-align: center;
}

.logo {
  height: 4vh;
  pointer-events: none;
  padding-left: 1vw;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Btn {
  background-color: transparent;
  color: white;
  border-color: white;
  border-width: 4px;
  border-radius: 15px;
  height: 8vh;
  width: 33vmax;
  font-family: 'Inconsolata';
  font-size: 2vh;
}

.bold {
  font-weight: 700;
}

.rowContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
